@model List<NorthAdmin.Models.Order>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/shared/_AdminLayout.cshtml";
}

@section datalink{
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.3/dt-1.10.16/af-2.2.2/b-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/r-2.2.1/sc-1.4.4/datatables.min.css" />
}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table id="datatable" class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Sipariş Tarihi</th>
					<th>Teslim Tarihi</th>
					<th>Kargo Tutarı</th>
					<th>Şehir</th>
					<th>Ülke</th>
					<th>Düzenle</th>
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < Model.Count; i++)
				{
					<tr>
						<td>@(i + 1)</td>
						<td>@($"{Model[i].OrderDate:MM/dd/yyyy}")</td>
						<td>@($"{Model[i].ShippedDate:MM/dd/yyyy}")</td>
						<td>@Model[i].Freight</td>
						<td>@Model[i].ShipCity</td>
						<td>@Model[i].ShipCountry</td>
						<td>
							<a href="@Url.Action("Detail","Order",new {id = Model[i].OrderID})" class="btn btn-info btn-block">Detay</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@section datajs{
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jqc-1.12.3/dt-1.10.16/af-2.2.2/b-1.5.1/cr-1.4.1/fc-3.2.4/fh-3.1.3/r-2.2.1/sc-1.4.4/datatables.min.js"></script>
	<script>
		$("#datatable").DataTable({
			responsive: true,
			language: {
				"lengthMenu": "Bir sayfada _MENU_ Kayıt Görüntüle",
				"zeroRecords": "Aradığınız kriterde kayıt bulunamadı...",
				"info": "Gösterilen Sayfa _PAGE_ / _PAGES_",
				"infoEmpty": "Kayıt Bulunmamaktadır",
				"infoFiltered": "(Toplam _MAX_ kayıt aranıyor)",
				"search": "Arama",
				"Previous": "Önceki",
				"Next": "Sonraki",
				"paginate": {
					"first": "ilk",
					"last": "son",
					"next": "Sonraki",
					"previous": "Önceki"
				}
			}
		});
	</script>

}

