<ul class="nav" id="side-menu">
	<li class="sidebar-search">
		<div class="input-group custom-search-form">
			<input type="text" class="form-control" placeholder="Ara...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
		<!-- /input-group -->
	</li>
	<li>
		<a href="@Url.Action("Index","Category")"><i class="fa fa-apple fa-fw"></i> Kategoriler<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level">
			<li>
				<a href="@Url.Action("Index","Category")">Kategorileri Görüntüle</a>
			</li>
			<li>
				<a href="@Url.Action("Add","Category")">Yeni Kategori EKle</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#"><i class="fa fa-android fa-fw"></i> Ürünler<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level">
			<li>
				<a href="@Url.Action("Index","Product")">Ürünleri Görüntüle</a>
			</li>
			<li>
				<a href="@Url.Action("Add","Product")">Yeni Ürün Ekle</a>
			</li>
		</ul>
		<!-- /.nav-second-level -->
	</li>
	<li>
		<a href="@Url.Action("Index","Employee")"><i class="fa fa-chrome fa-fw"></i> Çalışanlar<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level">
			<li>
				<a href="@Url.Action("Index","Employee")">Çalışanları Görüntüle</a>
			</li>
			<li>
				<a href="@Url.Action("Add","Employee")">Yeni Çalışan Ekle</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="@Url.Action("Index","Customer")"><i class="fa fa-opera fa-fw"></i> Müşteriler<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level">
			<li>
				<a href="@Url.Action("Index","Customer")">Müşterileri Görüntüle</a>
			</li>
			<li>
				<a href="@Url.Action("Add","Customer")">Yeni Müşteri Ekle</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="@Url.Action("Index","Supplier")"><i class="fa fa-internet-explorer fa-fw"></i> Tedarikçiler<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level">
			<li>
				<a href="@Url.Action("Index","Supplier")">Tedarikçileri Görüntüle</a>
			</li>
			<li>
				<a href="@Url.Action("Add","Supplier")">Yeni Tedarikçi Ekle</a>
			</li>
		</ul>

		<!-- /.nav-second-level -->
	</li>
	<li>
		<a href="@Url.Action("Index","Shipper")"><i class="fa fa-firefox fa-fw"></i> Kargo Şirketleri<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level">
			<li>
				<a href="@Url.Action("Index","Shipper")">Kargo Şirketlerini Görüntüle</a>
			</li>
			<li>
				<a href="@Url.Action("Add","Shipper")">Yeni Kargo Şirketi Ekle</a>
			</li>
		</ul>

		<!-- /.nav-second-level -->
	</li>
	<li>
		<a href="@Url.Action("Index","Order")"><i class="fa fa-bank fa-fw"></i> Siparişler<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level">
			<li>
				<a href="@Url.Action("Index","Order")"> Siparişleri Görüntüle</a>
			</li>
			<li>
				<a href="@Url.Action("Index","Order")"> Sipariş Ver</a>
			</li>
		</ul>

		<!-- /.nav-second-level -->
	</li>
</ul>

