@model NorthAdmin.Models.Supplier
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}

<h2>@Model.CompanyName<small> Tedarikçi Detayı</small></h2>
<div class="row">
	<div class="col-md-12">
		<h3><b>Şirket Adı:</b></h3>
		<h4>@Model.CompanyName</h4>
	</div>
	<div class="col-md-12">
		<h3><b>Yetkili Kişi:</b></h3>
		<h4>@Model.ContactName</h4>
	</div>
	<div class="col-md-12">
		<h3><b>Ünvan:</b></h3>
		<h4>@($"{Model.ContactTitle}")</h4>
	</div>
	<div class="col-md-12">
		<h3><b>Adres:</b></h3>
		<h4>@Model.Address</h4>
	</div>
	<div class="col-md-12">
		<h3><b>Şehir:</b></h3>
		<h4>@($"{Model.City}")</h4>
	</div>
	<div class="col-md-12">
		<h3><b>Ülke:</b></h3>
		<h4>@Model.Country</h4>
	</div>
	<div class="col-md-12">
		<h3><b>Posta Kodu:</b></h3>
		<h4>@Model.PostalCode</h4>
	</div>
	<div class="col-md-12">
		<h3><b>Telefon:</b></h3>
		<h4>@Model.Phone</h4>
	</div>
</div>
