@model NorthAdmin.Models.Customer
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="text-danger">@Html.ValidationSummary()</div>
		@using (Html.BeginForm("Update", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(x=>x.CustomerID);
			<div class="form-group">
				@Html.Label("Şirket", new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", placeholder = "Şirket Adı" })
				</div>
			</div>
			<div class="form-group">
				@Html.Label("Müşteri ID", new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.CustomerID, new { @class = "form-control", placeholder = "Müşteri ID" ,required=true})
				</div>
			</div>
			<div class="form-group">
				@Html.Label("Yetkili Kişi", new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.ContactName, new { @class = "form-control", placeholder = "Yetkili Kişi" })
				</div>
			</div>
			<div class="form-group">
				@Html.Label("Şehir", new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder = "Şehir" })
				</div>
			</div>
			<div class="form-group">
				@Html.Label("Ülke", new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.Country, new { @class = "form-control", placeholder = "Ülke" })
				</div>
			</div>
			<div class="form-group">
				@Html.Label("Telefon", new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Telefon" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info">Güncelle</button>
					<button type="reset" class="btn btn-warning">Temizle</button>
				</div>
			</div>
		}
	</div>
</div>

