@model MVCFundamentals.Models.Employee
@{
	ViewBag.Title = "Update";
}

<h2>Düzenleme Ekranı</h2>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="text-danger">@Html.ValidationSummary()</div>
		@using (Html.BeginForm("Update", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(x=>x.EmployeeID)
			<div class="form-group">
				@Html.LabelFor(x => x.FirstName, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", placeholder = "İsim" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.LastName, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "Soyisim" })
				</div>
			</div>
            <div class="form-group">
                @Html.LabelFor(x => x.ReportsTo, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(x => x.ReportsTo, (List<SelectListItem>)ViewBag.calisanlarlist, new { @class = "form-control" })
                </div>
            </div>
			<div class="form-group">
				@Html.LabelFor(x => x.BirthDate, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control", placeholder = "Doğum Tarihi" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.HireDate, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.HireDate, new { @class = "form-control", placeholder = "İşe Alınma Tarihi" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.Address, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = "Adres" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.City, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder = "Şehir" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(x => x.Country, new { @class = "col-sm-2 control-label" })
				<div class="col-sm-10">
					@Html.TextBoxFor(x => x.Country, new { @class = "form-control", placeholder = "Ülke" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-info">Güncelle</button>
					<button type="reset" class="btn btn-warning">Temizle</button>
				</div>
			</div>
		}
	</div>
</div>

